/* utilities */
:root {
  --padding-section: 60px;
  --grid-gap: 30px;
  --accent-color: #2196f3;
  --accent-focus-color: #0076d9;
  --bg-white-color: #ffffff;
  --bg-white-transparent-color: rgba(255, 255, 255, 0.1);
  --bg-light-gray-color: #f5f4fa;
  --bg-dark-gray-color: #c4c4c4;
  --bg-black-color: #2f303a;
  --border-color: #eeeeee;
  --icons-primary-color: #afb1b8;
  --font-bold-color: #212121;
  --font-primary-color: #757575;
  --font-inversed-color: #ffffff;
  --font-trasnparent-color: rgba(255, 255, 255, 0.6);
  --primary-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --anim-props: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --viewport-min-width: 480px;
  --features-cols: 1;
  --team-cols: 1;
  --clients-cols: 2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.padding-unified {
  padding: var(--padding-section) 0;
}

/* base styles */
ul {
  list-style: none;
}

svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-white-color);
  color: var(--font-primary-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-bold-color);
}

/* common components */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  padding: 0 15px;
}

.btn {
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
}

.btn--primary {
  padding: 10px 32px;
  min-width: 200px;
  color: var(--font-inversed-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--anim-props);
  transition: background-color var(--anim-props);
}

.btn--primary:hover, .btn--primary:focus {
  background-color: var(--accent-focus-color);
}

.btn--secondary {
  padding: 6px 22px;
  color: var(--font-bold-color);
  background-color: var(--bg-light-gray-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition: color var(--anim-props), background-color var(--anim-props), -webkit-box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), -webkit-box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), box-shadow var(--anim-props), -webkit-box-shadow var(--anim-props);
}

.btn--secondary:hover, .btn--secondary:focus, .btn--secondary.active {
  color: var(--font-inversed-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.sm-contacts__title {
  color: var(--font-inversed-color);
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.sm-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.sm-contacts__link {
  display: block;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--bg-white-transparent-color);
  -webkit-transition: background-color var(--anim-props), fill var(--anim-props);
  transition: background-color var(--anim-props), fill var(--anim-props);
}

.sm-contacts__link--studio {
  fill: var(--font-inversed-color);
}

.sm-contacts__link--personal {
  fill: var(--icons-primary-color);
}

.sm-contacts__link:hover, .sm-contacts__link:focus {
  background-color: var(--accent-color);
  fill: var(--font-inversed-color);
}

/* common sections */
.logo {
  color: var(--font-bold-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__logo {
  margin-right: 93px;
  display: inline-block;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  color: var(--font-bold-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--anim-props), fill var(--anim-props);
  transition: color var(--anim-props), fill var(--anim-props);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  top: calc(100% + 28px);
  left: 0;
  height: 4px;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.studio-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.studio-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--font-primary-color);
  fill: var(--font-primary-color);
  -webkit-transition: color var(--anim-props), fill var(--anim-props);
  transition: color var(--anim-props), fill var(--anim-props);
}

.studio-contacts__link:hover, .studio-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.studio-contacts__icon {
  height: 16px;
  width: 16px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: var(--viewport-min-width);
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__button {
  cursor: pointer;
  border: 0;
  background-color: var(--bg-white-color);
}

.header__button.is-open .header__close-icon {
  display: block;
}

.header__button.is-open .header__menu-icon {
  display: none;
}

.header__close-icon {
  display: none;
}

.address {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.address__logo {
  display: inline-block;
  color: var(--font-inversed-color);
  padding-bottom: 10px;
}

.address__building {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.address__link {
  display: block;
  color: var(--font-trasnparent-color);
  text-decoration: none;
}

.sm-contacts__title {
  color: var(--font-inversed-color);
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.sm-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.sm-contacts__link {
  display: block;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--bg-white-transparent-color);
  -webkit-transition: background-color var(--anim-props), fill var(--anim-props);
  transition: background-color var(--anim-props), fill var(--anim-props);
}

.sm-contacts__link--studio {
  fill: var(--font-inversed-color);
}

.sm-contacts__link--personal {
  fill: var(--icons-primary-color);
}

.sm-contacts__link:hover, .sm-contacts__link:focus {
  background-color: var(--accent-color);
  fill: var(--font-inversed-color);
}

.subscribe__title {
  color: var(--font-inversed-color);
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.subscribe__interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.subscribe__input {
  display: block;
  padding-left: 16px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--bg-black-color);
  color: var(--font-inversed-color);
}

.subscribe__input:focus-visible {
  border-color: var(--accent-color);
  outline: none;
}

.subscribe__btn {
  height: 50px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.btn {
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
}

.btn--primary {
  padding: 10px 32px;
  min-width: 200px;
  color: var(--font-inversed-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--anim-props);
  transition: background-color var(--anim-props);
}

.btn--primary:hover, .btn--primary:focus {
  background-color: var(--accent-focus-color);
}

.btn--secondary {
  padding: 6px 22px;
  color: var(--font-bold-color);
  background-color: var(--bg-light-gray-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition: color var(--anim-props), background-color var(--anim-props), -webkit-box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), -webkit-box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), box-shadow var(--anim-props), -webkit-box-shadow var(--anim-props);
}

.btn--secondary:hover, .btn--secondary:focus, .btn--secondary.active {
  color: var(--font-inversed-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.footer {
  min-width: var(--viewport-min-width);
  color: var(--font-inversed-color);
  background-color: var(--bg-black-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc(var(--grid-gap) * 2);
  text-align: center;
}

/* main sections */
.section-title {
  margin-bottom: 30px;
  color: var(--font-bold-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
}

.hero {
  max-width: 480px;
  min-width: var(--viewport-min-width);
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--bg-dark-gray-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mobile.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  color: var(--font-inversed-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--grid-gap);
}

.features__item {
  --total-gap: calc((var(--features-cols) - 1) * var(--grid-gap));
  -ms-flex-preferred-size: calc((100% - var(--total-gap)) / var(--features-cols));
      flex-basis: calc((100% - var(--total-gap)) / var(--features-cols));
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--bg-light-gray-color);
  text-align: center;
}

.features__title {
  margin-bottom: 10px;
  color: var(--font-bold-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.job__name {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  color: var(--font-inversed-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--grid-gap);
}

.job__item {
  position: relative;
  --total-gap: calc((var(--job-cols) - 1) * var(--grid-gap));
  -ms-flex-preferred-size: calc((100% - var(--total-gap)) / var(--job-cols));
      flex-basis: calc((100% - var(--total-gap)) / var(--job-cols));
}

.job-features {
  min-width: var(--viewport-min-width);
}

.teammate__photo {
  padding-bottom: 30px;
}

.teammate__info {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
}

.teammate__name {
  margin-bottom: 10px;
  color: var(--font-bold-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.teammate__role {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
}

.team {
  min-width: var(--viewport-min-width);
  background-color: var(--bg-light-gray-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--grid-gap);
}

.team__item {
  --total-gap: calc((var(--team-cols) - 1) * var(--grid-gap));
  -ms-flex-preferred-size: calc((100% - var(--total-gap)) / var(--team-cols));
      flex-basis: calc((100% - var(--total-gap)) / var(--team-cols));
  background-color: var(--bg-white-color);
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.clients {
  min-width: var(--viewport-min-width);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--grid-gap);
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --total-gap: calc((var(--clients-cols) - 1) * var(--grid-gap));
  -ms-flex-preferred-size: calc((100% - var(--total-gap)) / var(--clients-cols));
      flex-basis: calc((100% - var(--total-gap)) / var(--clients-cols));
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  text-align: center;
  fill: var(--icons-primary-color);
  border: 1px solid var(--icons-primary-color);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-props), fill var(--anim-props);
  transition: border-color var(--anim-props), fill var(--anim-props);
}

.clients__icon:hover, .clients__icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* modal window */
/*# sourceMappingURL=main.css.map */