:root {
  --padding-section: 94px;
  --grid-gap: 30px;
  --accent-color: #2196f3;
  --accent-focus-color: #0076d9;
  --bg-white-color: #ffffff;
  --bg-white-transparent-color: rgba(255, 255, 255, 0.1);
  --bg-light-gray-color: #f5f4fa;
  --bg-dark-gray-color: #c4c4c4;
  --bg-black-color: #2f303a;
  --border-color: #eeeeee;
  --icons-primary-color: #afb1b8;
  --font-bold-color: #212121;
  --font-primary-color: #757575;
  --font-inversed-color: #ffffff;
  --font-trasnparent-color: rgba(255, 255, 255, 0.6);
  --primary-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --anim-props: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --features-cols: 4;
  --job-cols: 3;
  --team-cols: 4;
  --clients-cols: 6;
  --content-table-cols: 3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.padding-unified {
  padding: var(--padding-section) 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--bg-white-color);
  color: var(--font-primary-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-bold-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.logo {
  color: var(--font-bold-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__logo {
  margin-right: 93px;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  gap: 50px;
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  color: var(--font-bold-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--anim-props), fill var(--anim-props);
  transition: color var(--anim-props), fill var(--anim-props);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  top: calc(100% + 28px);
  left: 0;
  height: 4px;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.studio-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-left: auto;
  gap: 50px;
}

.studio-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--font-primary-color);
  fill: var(--font-primary-color);
  -webkit-transition: color var(--anim-props), fill var(--anim-props);
  transition: color var(--anim-props), fill var(--anim-props);
}

.studio-contacts__link:hover, .studio-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.studio-contacts__icon {
  height: 16px;
  width: 16px;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.address__logo {
  display: inline-block;
  color: var(--font-inversed-color);
  padding-bottom: 10px;
}

.address__building {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.address__link {
  display: block;
  color: var(--font-trasnparent-color);
  text-decoration: none;
}

.sm-contacts__title {
  color: var(--font-inversed-color);
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.sm-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.sm-contacts__link {
  display: block;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--bg-white-transparent-color);
  -webkit-transition: background-color var(--anim-props), fill var(--anim-props);
  transition: background-color var(--anim-props), fill var(--anim-props);
}

.sm-contacts__link--studio {
  fill: var(--font-inversed-color);
}

.sm-contacts__link--personal {
  fill: var(--icons-primary-color);
}

.sm-contacts__link:hover, .sm-contacts__link:focus {
  background-color: var(--accent-color);
  fill: var(--font-inversed-color);
}

.subscribe__title {
  color: var(--font-inversed-color);
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.subscribe__interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.subscribe__input {
  display: block;
  padding-left: 16px;
  width: 360px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--bg-black-color);
  color: var(--font-inversed-color);
}

.subscribe__input:focus-visible {
  border-color: var(--accent-color);
  outline: none;
}

.subscribe__btn {
  height: 50px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.btn {
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
}

.btn--primary {
  padding: 10px 32px;
  min-width: 200px;
  color: var(--font-inversed-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--anim-props);
  transition: background-color var(--anim-props);
}

.btn--primary:hover, .btn--primary:focus {
  background-color: var(--accent-focus-color);
}

.btn--secondary {
  padding: 6px 22px;
  color: var(--font-bold-color);
  background-color: var(--bg-light-gray-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition: color var(--anim-props), background-color var(--anim-props), -webkit-box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), -webkit-box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), box-shadow var(--anim-props), -webkit-box-shadow var(--anim-props);
}

.btn--secondary:hover, .btn--secondary:focus, .btn--secondary.active {
  color: var(--font-inversed-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.footer {
  padding: 60px 0;
  color: var(--font-inversed-color);
  background-color: var(--bg-black-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sm-contacts__title {
  color: var(--font-inversed-color);
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.sm-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.sm-contacts__link {
  display: block;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--bg-white-transparent-color);
  -webkit-transition: background-color var(--anim-props), fill var(--anim-props);
  transition: background-color var(--anim-props), fill var(--anim-props);
}

.sm-contacts__link--studio {
  fill: var(--font-inversed-color);
}

.sm-contacts__link--personal {
  fill: var(--icons-primary-color);
}

.sm-contacts__link:hover, .sm-contacts__link:focus {
  background-color: var(--accent-color);
  fill: var(--font-inversed-color);
}

.btn {
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
}

.btn--primary {
  padding: 10px 32px;
  min-width: 200px;
  color: var(--font-inversed-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--anim-props);
  transition: background-color var(--anim-props);
}

.btn--primary:hover, .btn--primary:focus {
  background-color: var(--accent-focus-color);
}

.btn--secondary {
  padding: 6px 22px;
  color: var(--font-bold-color);
  background-color: var(--bg-light-gray-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition: color var(--anim-props), background-color var(--anim-props), -webkit-box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), -webkit-box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), box-shadow var(--anim-props);
  transition: color var(--anim-props), background-color var(--anim-props), box-shadow var(--anim-props), -webkit-box-shadow var(--anim-props);
}

.btn--secondary:hover, .btn--secondary:focus, .btn--secondary.active {
  color: var(--font-inversed-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--font-bold-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-dark-gray-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-position: center;
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--font-inversed-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features {
  margin-bottom: var(--padding-section);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--grid-gap);
}

.features__item {
  --total-gap: calc((var(--features-cols) - 1) * var(--grid-gap));
  -ms-flex-preferred-size: calc((100% - var(--total-gap)) / var(--features-cols));
      flex-basis: calc((100% - var(--total-gap)) / var(--features-cols));
}

.features__icon {
  height: 120px;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: var(--bg-light-gray-color);
  text-align: center;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--font-bold-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.features__description {
  margin: 0;
}

.job__name {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  color: var(--font-inversed-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--grid-gap);
}

.job__item {
  position: relative;
  --total-gap: calc((var(--job-cols) - 1) * var(--grid-gap));
  -ms-flex-preferred-size: calc((100% - var(--total-gap)) / var(--job-cols));
      flex-basis: calc((100% - var(--total-gap)) / var(--job-cols));
}

.teammate__info {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
}

.teammate__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--font-bold-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.teammate__role {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 16px;
}

.team {
  background-color: var(--bg-light-gray-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--grid-gap);
}

.team__item {
  --total-gap: calc((var(--team-cols) - 1) * var(--grid-gap));
  -ms-flex-preferred-size: calc((100% - var(--total-gap)) / var(--team-cols));
      flex-basis: calc((100% - var(--total-gap)) / var(--team-cols));
  background-color: var(--bg-white-color);
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--grid-gap);
}

.clients__icon {
  --total-gap: calc((var(--clients-cols) - 1) * var(--grid-gap));
  -ms-flex-preferred-size: calc((100% - var(--total-gap)) / var(--clients-cols));
      flex-basis: calc((100% - var(--total-gap)) / var(--clients-cols));
  height: 92px;
  padding: 16px 0;
  cursor: pointer;
  text-align: center;
  fill: var(--icons-primary-color);
  border: 1px solid var(--icons-primary-color);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-props), fill var(--anim-props);
  transition: border-color var(--anim-props), fill var(--anim-props);
}

.clients__icon:hover, .clients__icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--anim-props);
  transition: opacity var(--anim-props);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  background-color: var(--bg-white-color);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--anim-props);
  transition: -webkit-transform var(--anim-props);
  transition: transform var(--anim-props);
  transition: transform var(--anim-props), -webkit-transform var(--anim-props);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: var(--bg-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.service-order__label {
  display: block;
  cursor: pointer;
}

.service-order__input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.service-order__input {
  padding-left: 40px;
  height: 40px;
  width: 100%;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.service-order__input:focus-visible {
  border-color: var(--accent-color);
  outline: none;
}

.service-order__input:focus-visible ~ .service-order__icon {
  fill: var(--accent-color);
}

.service-order__input--textarea {
  display: block;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  height: 120px;
}

.service-order__input--textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.service-order__input--textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.service-order__input--textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.service-order__input--textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.service-order__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  height: 18px;
  width: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.service-order__send {
  display: block;
  margin: 0 auto;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.policy__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.policy__checkbox:checked ~ .policy__check-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.policy__check-icon {
  margin-right: 8px;
  height: 15px;
  width: 16px;
  border: 2px solid #000000;
  border-radius: 2px;
  background-image: url("../images/checkbox.svg");
  background-size: contain;
  background-origin: border-box;
}

.policy__label {
  margin-right: 4px;
}

.policy__link {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */