@import "../../utils/mixins";

.clients {
	min-width: var(--viewport-min-width);
}

.clients__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--grid-gap);
}

.clients__icon {
	display: flex;
	justify-content: center;
	align-items: center;

	@include flex-based(var(--clients-cols), var(--grid-gap));
	height: 92px;
	padding-top: 16px;
	padding-bottom: 16px;

	cursor: pointer;
	text-align: center;
	fill: var(--icons-primary-color);
	border: 1px solid var(--icons-primary-color);
	border-radius: 4px;
	transition: border-color var(--anim-props), fill var(--anim-props);

	&:hover,
	&:focus {
		fill: var(--accent-color);
		border-color: var(--accent-color);
	}
}
