@import "../../utils/mixins";

.features {
}

.features__list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--grid-gap);
}

.features__item {
	@include flex-based(var(--features-cols), var(--grid-gap));
}

.features__icon {
	height: 120px;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 30px;

	background-color: var(--bg-light-gray-color);
	text-align: center;
}

.features__title {
	margin-bottom: 10px;

	color: var(--font-bold-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
}
