@import "./modal";
@import "./service-order";
@import "./policy";

.hero {
	max-width: 480px;
	min-width: var(--viewport-min-width);
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 118px;
	padding-bottom: 118px;

	background-color: var(--bg-dark-gray-color);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/hero-bg-mobile.jpg");
	background-position: center;
	background-size: cover;
}

.hero__title {
	margin-bottom: 30px;

	color: var(--font-inversed-color);
	font-weight: 900;
	font-size: 26px;
	line-height: 1.6;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.hero__container {
	text-align: center;
}
