.filter {
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	text-align: center;
	transition: box-shadow var(--anim-props);

	@media screen and (max-width: 767px) {
		margin-bottom: 40px;
	}

	@media screen and (min-width: 768px) and (max-width: 1139px) {
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1140px) {
		margin-bottom: 50px;
	}

	@media screen and (min-width: 768px) {
		justify-content: center;
	}
}

.filter__item {
	&:hover,
	&:focus {
		box-shadow: var(--primary-shadow);
	}
}
