@import "../logo";
@import "./site-nav";
@import "./studio-contacts";

.header {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: var(--viewport-min-width);

	@media screen and (min-width: 768px) {
		border-bottom: 1px solid var(--border-color);
	}
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
}

.header__logo {
	margin-right: 93px;
	display: inline-block;

	.header__button.is-open ~ & {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.header__button {
		order: 1;
		cursor: pointer;
		border: 0;
		background-color: var(--bg-white-color);
		fill: var(--font-bold-color);

		&:hover,
		&:focus {
			fill: var(--accent-color);
		}

		&.is-open {
			align-self: flex-start;

			.header__close-icon {
				display: block;
			}

			.header__menu-icon {
				display: none;
			}
		}
	}

	.header__close-icon {
		display: none;
	}

	.header__nav-and-contacts {
		display: none;
		padding: 15px;
		background-color: var(--bg-white-color);

		&.is-open {
			display: block;
		}
	}
}

@media screen and (min-width: 768px) {
	.header__button {
		display: none;
	}

	.header__nav-and-contacts {
		position: static;
		display: flex;
		padding: 0;
	}
}
