.main-nav {
	display: none;

	// @media screen and (max-width: 767px) {
	// 	display: none;
	// }

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}

	@media screen and (min-width: 1200px) {
		flex-grow: 1;
	}
}

.main-nav__logo {
	margin-right: 93px;
}

.main-nav__list {
	display: flex;
	margin-top: 0;
	gap: 50px;
}

.main-nav__item {
	position: relative;
}

.main-nav__link {
	color: var(--font-bold-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-decoration: none;
	transition: color var(--anim-props), fill var(--anim-props);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.main-nav__link--current {
	color: var(--accent-color);

	&::after {
		content: "";
		position: absolute;
		top: calc(100% + 27px);
		left: 0;

		height: 4px;
		width: 100%;
		transform: translateY(-50%);

		background-color: var(--accent-color);
		border-radius: 4px;
	}
}
