:root {
	--grid-gap: 30px;
	--edge-margin: 15px;

	--accent-color: #2196f3;
	--accent-focus-color: #0076d9;

	--bg-white-color: #ffffff;
	--bg-white-transparent-color: rgba(255, 255, 255, 0.1);
	--bg-light-gray-color: #f5f4fa;
	--bg-dark-gray-color: #c4c4c4;
	--bg-black-color: #2f303a;

	--border-color: #eeeeee;
	--icons-primary-color: #afb1b8;

	--font-bold-color: #212121;
	--font-primary-color: #757575;
	--font-inversed-color: #ffffff;
	--font-trasnparent-color: rgba(255, 255, 255, 0.6);

	--primary-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

	--anim-props: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (max-width: 767px) {
		--features-cols: 1;
		--team-cols: 1;
		--clients-cols: 2;
		--content-table-cols: 1;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		--features-cols: 2;
		--team-cols: 2;
		--clients-cols: 3;
		--content-table-cols: 2;
	}

	@media screen and (min-width: 1200px) {
		--features-cols: 4;
		--job-cols: 3;
		--team-cols: 4;
		--clients-cols: 6;
		--content-table-cols: 3;
	}

	@media screen and (max-width: 1199px) {
		--padding-section: 60px;
	}

	@media screen and (min-width: 1200px) {
		--padding-section: 94px;
	}

	// --viewport-min-width: 480px;
}
